.topnav {
    overflow: hidden;
    text-align: center;
    padding: 50px 0 40px 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
  }
  .topnav a {
    float:none;
    color: #fff;
    text-align: center;
    padding: 14px 16px 14px 16px;
    text-decoration: none;
    font-size: 19px;
    
  }
  .topnav a:hover {
    background-color: #fff;
    color: black;
    
  }
  .topnav > .btn_list {
    padding: 18px 30px;  
    color: #fff;
    text-align: center;
    border-radius: none;
    font-size: 20px;
    margin: -30px -240px 0 50px;
    background-color: #FF5A3C;
    transition: 0.5s;
    border: none;
  }
  .topnav > .btn_list:hover {
    color: #000;
    background-color: #fff;
    
  }
  .topnav > .logo-2 {
   float:left;
   margin-top: -20px;
  }
  .bg-image{
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-image: url(/imgs/quarterpics.jpg);
    height: 700px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    z-index: 999;
    opacity: 1;
    margin-top: -140px;
  }
  .my_input{
    box-shadow: 1px 1px 1px 1px #b4b2b2;
    padding: 30px 20px 30px 15px;
  }
  .first-text{
    color: #fff;
    padding-top: 200px;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 25px;
  }
  .bold-text{
    font-family: 'Poppins', sans-serif;
    font-size: 45px;
    font-style:normal;
  }
  .Small-text{
  font-size: 15px;
  }
  .btn_Enquiry{
    padding: 20px 35px;  
    color: #fff;
    text-align: center;
    border-radius: none;
    font-size: 20px;
    margin: 30px 20px 0 50px;
    background-color: #FF5A3C;
    transition: 0.5s;
    border: none;
  }
  .btn_Enquiry:hover{
    color: #000;
    background-color: #fff;
  }
  .my_input{
      margin: 60px 0 60px 170px;
      
  }
  #placeholder{
      padding: 18px 60px 18px 20px;
      margin-right: 30px;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      font-size: 17px;
      
  }
  .btn_Find{
    padding: 20px 35px;  
    color: #fff;
    text-align: center;
    border-radius: none;
    font-size: 20px;
    margin: 30px 20px 0 40px;
    background-color: #FF5A3C;
    transition: 0.5s;
    border: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
  }
  .btn_Find:hover{
    color: #000;
    background-color: #fff;
  }
  .Find{
      float: right;
      margin-top: -185px;
      margin-right: 110px;
  }
  .service{
      display: inline-block;
      padding: 5px 20px;
      border-radius: 25px;
      position: relative;
      color: #ff5a3c;
      font-size: 14px;
      background-color:#f1cbc3;
  }
  .service_section{
      text-align: center;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  .focus{
      font-size: 45px;
      font-weight: 700;
      line-height: 1.3;
      color: #071c1f;
      margin-top: -20px;
  }
  .buy_a_home > a {
      text-decoration: none;
      outline: none;
      color: inherit;
      font-size: 25px;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  .home_section{
      display: flex;
      justify-content:space-around;
      text-align: center;
      padding-top: 30px;
      padding-bottom: 90px;
  }
  .home_subsection{
    background: white;
    box-shadow: 3px 3px 3px 3px #b4b2b2;
    padding: 50px 60px;
  }
  .third_section{
    display: flex;
      justify-content:space-around;
      text-align: left;
      padding: 50px 50px 90px 50px;
      background-color: #dceff1;
  }
  .third_subset{
    text-align: center;
    font-family: 'Nunito Sans', sans-serif;
  }
  .third_subsection{
    background: white;
    box-shadow: 3px 3px 3px 3px #b4b2b2;
    padding: 20px 15px;
  }
 .pro-text{
    font-family: sans-serif;
    padding-top: 230px;
    
 }
 .property{
    background-color: white;
    border-radius: 20px;
    padding: 10px 10px;
    margin-right: 220px;
    margin-top: -230px;
    font-family: sans-serif;
    font-size: 12px;
    
 }
 .pro-text > a{
    text-decoration: none;
    outline: none;
    color: #1a1717;
 }
 .pro-text > a:hover{
    color: #FF5A3C;
 }
 .prop-text{
    font-family: sans-serif;
    padding-bottom: 20px;
 }
 .prop-text > a{
    text-decoration: none;
    outline: none;
    color:#ff5a3c;
 }
 #Fourth-section{
    padding: 90px 0 0px 0;
 }
 .property_section{
    display: flex;
    justify-content:space-around;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 90px;
}
.property_subsection{
  background: white;
  box-shadow: 3px 3px 3px 3px #b4b2b2;
  padding: 20px 45px 20px 45px;
  
}
.ed-rent{
    background-image: url(../imgs/listing1.jpg);
    height: 300px;
    width: 380px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    margin: -20px -57px -20px -42px;
}
.ed-rent > b{
    background-color: #77c720;
    color: #fff;
    font-size:small;
    padding: 7px 13px 7px 13px;
    float: right;
    margin-top: 20px;
    margin-right: 20px;
}
.ed-sell{
    background-image: url(../imgs/listing2.jpg);
    height: 300px;
    width: 380px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    margin: -20px -57px -20px -42px;
}
.ed-sell > b{
    background-color:#ff5a3c;
    color: #fff;
    font-size:small;
    padding: 7px 13px 7px 13px;
    float: right;
    margin-top: 20px;
    margin-right: 20px;
}
.ed-rent2{
    background-image: url(../imgs/listing3.jpg);
    height: 300px;
    width: 380px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    margin: -20px -57px -20px -42px;
}
.ed-rent2 > b{
    background-color: #77c720;
    color: #fff;
    font-size:small;
    padding: 7px 13px 7px 13px;
    float: right;
    margin-top: 20px;
    margin-right: 20px;
}
.Chicago{
    color: #fff;
    font-size:medium;
    margin-top: -40px;
    margin-bottom: 30px;
    margin-left: -80px;
}
.Chicago > a{
    text-decoration: none;
    outline: none;
}
.Chicago:hover{
    color: #ff5a3c;
}
.pro-price{
    text-align: left;
}
.pro-price > h2{
    color: #ff5a3c;
    padding-top: 20px;
}
.pro-price > a{
    text-decoration: none;
    outline: none;
    color:#000000;
    font-size: x-large;
    font-weight: 900;
}
.pro-price > a:hover{
    color: #ff5a3c;
}
.youtube{
    padding: 50px 0 100px 0; 
}
.sub-youtube{
    background-image: url(../imgs/youtube-img.jpg);
}
.Logo{
    background-color: #dceff1;
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
    padding: 100px 20px;
}
.News-feeds1{
    padding: 60px 45px;
    box-shadow: 0px 0px px 0px #4e4c4c;   
}
.news-icon1{
    display: flex;
    padding: 30px 15px 0 15px;
}
.news-icon1 > span{
    padding-left: 10px;
}
.news-icon1 > span >a{
    text-decoration: none;
    color: #4e4c4c;
}
.news-icon1 > span >a:hover{
    color: #FF5A3C;
}
.news-text{
    font-size: 25px;
    font-family: 'Nunito Sans', sans-serif;
    color:#312e2e ;
}
.date{
    padding: 20px 10px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #4e4c4c;
}
.read-more{
    float: right;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: -37px;
}    
.read-more>a{
    color: #FF5A3C;
    text-decoration: none;
}
.last-section{
    display: flex;
    justify-content: space-between;
    outline: none;
    padding: 30px 0 120px 0;
}

  
  
  
  
  
  
  #footer{
      background-color: #171b2a;
      padding-top: 11rem;
      margin-bottom: -30px;
  }
  #cta{
      background-color: #ff5a3c;
      margin: 0 5rem -6rem 5rem;
      display: flex;
      justify-content: space-between;
      position: relative;
  }
  .cta-left{
      margin: 40px;
      color: #ffffff;
  }
  .cta-left > h1{
      font-size: 2.5rem;
      font-weight: 800;
  }
  .cta-right{
      display: flex;
      margin: auto;
  }
  .cta-right > button{
      font-size: 1.2rem;
      padding: 20px 40px;
      border: none;
      border-radius: 0;
      transition: 0.3s;
  }
  .cta-right > button:hover{
      box-shadow: inset 14.5em 0 0 0 #000000;
      color: #ffffff;
  }
  .main-section{
      margin: 40px;
  }
  .fluid-container{
      margin: 20px;
      color: #ffffff;
      display: flex;
      flex-direction: row;
  }
  .col-6{
      width: 22%;
      margin: 10px 10px 10px 5px;
  }
  .col-2{
      width: 19%;
      margin: 10px 0px 10px 30px;
  }
  .col-2 > div > h3,
  .col-6 > div > h3{
      font-size: 22px;
  }
  .col-6 > div > img{
      margin-top: 13px;
  }
  .text > p{
      line-height: 28px;
  }
  .lst > li{
      list-style-type: none;
      margin-left: -35px;
      padding: 10px 0 10px 0;
  }
  .lst > li > a{
      text-decoration: none;
      color: #ffffff;
      transition: 0.4s;
  }
  .lst > li > a:hover{
      padding: 10px 0 10px 30px;
      color: #ff5a3c;
  }
  .input{
      display: flex;
  }
  .input > input{
      background-color: #ffffff;
      padding: 25px 20px;
      border: none;
      border-radius: none;
      outline-width: 0;
  }
  .input > input:focus{
      outline-width: 0.1rem;
      outline-style: solid;
      outline-color: #FF5A3C;
  }
  .input > input::placeholder{
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  .input > button{
      background-color: #ff5a3c;
      color: #ffffff;
      border: none;
      padding: 5px 15px;
      border-radius: none;
  }
  .input > button:hover{
      background-color: #000;
  }
  .accept > img{
      width: 100%;
      height: 35x;
  }
  
  @media (max-width:1070px) {
      .fluid-container{
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
      }
      .col-2, .col-6{
          width: 30%;
          padding: 0 50px;
      }
      .col-2 > div > h3,
      .col-6 > div > h3{
          width: fit-content;
      }
  }
  
  @media (max-width:700px) {
      .fluid-container{
          display: flex;
          flex-direction: column;
      }
      #cta{
          display: flex;
          flex-direction: column;
      }
      .cta-left > h1{
          font-size: 1.5rem;
      }
      .col-2, .col-6{
          width: 50%;
          padding: 0 50px;
      }
  }
  